body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color:white;
	text-align: center;
	margin-top: 10px;
	background: #ff0000;
	// background: #5f2c82;  /* fallback for old browsers */
	// background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to bottom, #303030, #FF0000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #303030, #FF0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

label {
	display: block;
}

.measurements {
	padding-top: 20px;
	padding-bottom: 20px

}

.bottom {
	padding-top: 10px;
}

h1 {
	padding-bottom: 20px;
}

h2 {
	font-weight: 700;
}

button {
	// background:rgb(226, 38, 38);
	// background:rgb(149, 149, 149);
	// background:rgb(255, 216, 0);
	background:rgb(227, 227, 227);
	margin-left: 5px;
}

.center_div{
    margin: 0 auto;
    width:20% /* value of your choice which suits your alignment */
}
